services:
  backend:
    build: ./backend
    container_name: "banana_api"
    ports:
      - "8000:8000"
    volumes:
      - ./model:/app/model
      - ./backend:/app
    environment:
      - MODEL_PATH=/app/model

  frontend:
    build: ./frontend
    container_name: "banana_web"
    ports:
      - "4173:4173"
    depends_on:
      - backend
      - llm

  llm:
    build: ./llm
    container_name: banana_llm
    ports:
      - "8001:8001"
    depends_on:
      - chromadb

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    volumes:
      - chroma_data:/chroma

volumes:
  ollama_data:
  chroma_data:

networks:
  default:
    name: banana_net
